@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #07090d;
  color: #e2e8f0;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden; /* terminal doesn't scroll */
}

/* custom scrollbar for panels */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1e2530; border-radius: 2px; }

